*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    color: #fff;
 
}

:root{
    --red:#f93535;
    --light-red: #FF4E50;
    --dark-grey:#444;
    --grey: #666;
    --light-grey: #999;  

}

/*--------------header----------------------*/

.header {
    background: url(img/header.png) no-repeat;
    background-size: cover;
    background-position: center;
    top: 0;
    width: 100%; 
    height: 700px;
    background-color: rgb(3 3 3);
}

.header-content-container{
    height:700px;
}

.head{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    height: 100px;
}

.logo{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

.btn{
    width: 70px;
    background: bottom;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover{
    width: 70px;
    background: bottom;
    border: 1px solid;
    border-radius: 50px;
}

.header-content-container{
    text-align: center;
    align-content: center;
    height: 600px;

}
.head-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    width: 405px;
}

.title{
    font-size: 52px;
    font-weight: 400;
    text-transform: uppercase;
}

.subtitle{
    text-align: center;
    padding: 30px 0;
    font-weight: 400;
}
.btn-search{
    padding: 10px 25px;
    background: var(--light-red);
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}
.btn-search:hover, .btn-box:hover{
    background: var(--red);
}




/* --------------------Dreamshare--------------------- */

.section-container{
    padding-top: 80px;
}

.heading{
    color: var(--dark-grey);
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
}

.dreamshare-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dreamshare-img{
    max-width: 100%;
    max-height: 100%;
}
.dreamshare-container-box{
    height: 400px;
    margin: 10px;
    position: relative;
}

.box-content{
    position: absolute;
    bottom: 0px;
    padding: 30px 20px;
    background-image: linear-gradient(to bottom, #ffffff00, #00000063);
}
.small-content{
    font-size: 14px;
}
.dreamshare-subtitle{
    padding:30px 0;
    font-size: 24px;
}
.btn-box{
    text-transform: uppercase;
    background: var(--light-red);
    width: 70px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
}
/* -------------------------partner---------------------- */
.partner-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.partner-container-box{
    width: 221px;
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-direction: column; */
    /* justify-content: center; */
    height: 205px;
    margin: 10px;
    /* position: relative; */
    text-align: center;
}    

.partner-img-container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.partner-img{
    width: 120px;
    height: 120px;
    position: relative;

}.img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.icon-avt1{
    width: 34px;
    position: absolute;
    right: 1px;
    border: 3px solid;
    top: 85px;
    padding: 5px;
    border-radius: 50%;
    background:  var(--light-red);
}
.icon-avt2{
    width: 34px;
    position: absolute;
    right: 1px;
    border: 3px solid;
    top: 85px;
    padding: 5px;
    border-radius: 50%;
    background: #19D4CA;
}
.icon-avt3{
    width: 34px;
    position: absolute;
    right: 1px;
    border: 3px solid;
    top: 85px;
    padding: 5px;
    border-radius: 50%;
    background: #FFA710;
}
.icon-avt4{
    width: 34px;
    position: absolute;
    right: 1px;
    border: 3px solid;
    top: 85px;
    padding: 5px;
    border-radius: 50%;
    background: #667DF3;
}

.name{
    color: var(--dark-grey);
    font-weight: 400;
    padding: 10px;
    font-size: 14px;
}
.partner-subtitle{
    color: var(--grey);
    font-size: 14px;
}
.container-btn-partner{
    text-align: center;
}
.btn-partner{
    width: 180px;
    height: 40px;
    background: #fff;
    border: 2px solid var(--light-red);
    border-radius: 50px;
    color:  var(--light-red);
    font-size: 14px;
    cursor: pointer;
}
.btn-partner:hover{
    background:var(--red);
    color:#fff;
}


/* ----------------discover-------------- */
.discover-container{
    display:flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
}

.discover-container-row1{
    display: flex;
    justify-content: space-between;
    height:310px;
}

.discover-container-row-box {
    position: relative;
}


.discover-content{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: #0000006e;
    align-items: center;

}


.discover-container-row2{
    display: flex;
    justify-content:space-between;
    height:310px;
    margin:20px 0;
}

.discover-container-row3{
    display: flex;
    justify-content: space-between;
    height:310px;
} 


.discover-container-row3 div:nth-child(1){
   margin-right: 20px;
}


/* -------------Crate------------------- */

.Crate-container{
    display: flex;
    justify-content: center;
}

.Crate-content{
    text-align: center;
}

.question{
    font-size: 18px;
    color: var(--grey);
    padding:10px;
}

.input{
    height: 40px;
    width: 299px;
    border: 1px solid #D4D4D4;
    padding: 10px;
    margin: 10px;
    color:var(--grey);
}


/* ---------------footer------------- */
.horizontal{
    width: 100%;
    border: 2px solid var(--light-red);
}
.footer-content-container{
    display: flex;
    padding: 30px 0;
    justify-content: center;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.logo-footer{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color:var(--light-red)
}
.h3{
    font-size: 14px;
    color: var(--grey);
    font-weight: 400;
}
.bottom-navbar{
    list-style-type: none;
    font-size: 14px;
    color:var(--grey)
}
.bottom-navbar li{
    padding-top:10px;
    color: var(--light-grey) ;
}
.source{
    font-size: 10px;
    text-align: center;
    color: #CCCCCC;
    text-transform: uppercase;
    padding: 0 5px 5px;
    letter-spacing: 1px;
    text-align: end;
}